@use "reset";
@use "vars" as v;
@use "index";
@use "components" as c;

.editor-modal {
  display: flex;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100vh;
  background-color: rgba(17, 16, 16, 0.692);
  justify-content: center;
  &-content {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2rem;
    background-color: v.$white;
    height: 80vh;
    width: 50%;
  }
  &-action {
    display: flex;
    width: 100%;  
    button {
      width: 50%;
      @include c.button;
    }
  }
}
