.event-modal {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    height: 55vh;    
    &-header {
        display: flex;
        flex-direction: column;
      text-align: center;  
      padding: .5rem;
      span {
          padding: .5rem;
      }
    }
    
    &-close {
        display: flex;
        align-self: flex-start;
        background-color: transparent;
        border: none;
    }
    &-form {
        display: flex;
        flex-direction: column;
        height: 30vh;
        padding: 1rem .5rem;
        &-input {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: .5rem 0;
        }
        &-button {
        align-self: center;
        margin: 1rem 0;
    }
    }
}
