@use "reset";
@use "vars" as v;
@use "index";
@use "components" as c;

.event-modal {
    display: flex;
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100vh;
    background-color: rgba(17, 16, 16, 0.692);
    justify-content: center;
    &-content {
        align-self: center;
        flex-direction: column;
        border-radius: 20px;
        padding: .5rem;
        background-color: v.$white;
        &.create {
            padding: 2rem;
            width: 50%;
            height: fit-content;
        }
        &.modify {
            padding: 2rem;
            width: 30%;
            height: 50vh;
        }
    }
    &-header {
        display: flex;
        justify-content: center;
    }

    &-close {
        display: flex;
        align-self: flex-start;
        background-color: transparent;
        border: none;
    }
    &-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        padding: 1rem 0.5rem;
        &-parts {
            display: flex;
            padding: 1rem;
            justify-content: space-between;
        }
        &-part {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
            padding: 0 2rem;
            &-title {
                width: 100%;
                padding: 1rem 0;
            }
            &.left {
                border-right: 1px solid v.$dark-beige-10;
            }
        }
        &-button {
            @include c.button;
        }
    }
}
