@use "reset";
@use "vars" as v;
@use "index";

.header {
    display: flex;
    &-banner {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 24;
        width: 100%;
        background-color: v.$green;
        -webkit-box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.64);
        box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.64);
        span {
            align-self: center;
            font-weight: bold;
            font-size: 2rem;
            padding-left: 1rem;
            color: lighten(v.$green, 30%);
            @media (max-width: 640px) {
                font-size: 1rem;
            }
        }
        &-logo {
            display: flex;
            &-image {
                display: flex;
                width: 3rem;
                @media (max-width: 640px) {
                    width: 2rem;
                }
            }
        }
        &-toggle {
            background-color: transparent;
            border: none;
            color: lighten(v.$green, 30%);
            padding: 0 1rem;
        }
    }
    &-drawer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        z-index: 4;
        bottom: 0;
        background-color: v.$beige;
        width: 15%;
        height: 100vh;
        transform: translate(-100%);
        transition: 400ms;
        @media (max-width: 640px) {
            width: 70%;
        }
        &-header {
            padding: 5rem 2rem 1rem 2rem;
            height: 20%;
            border-bottom: 2px solid white;
        }
        &-items {
            height: 60%;
        }
        &-item {
            display: flex;
            width: 100%;
            padding: 1rem 2rem;
            justify-content: flex-start;
            background-color: v.$beige;
            color: white;
            font-weight: bold;
            transition: 1500ms;
            &:hover {
                transition: 200ms;
                background-color: lighten(v.$beige, 10%);
                color: darken(v.$beige, 10%);
            }
        }
        &-footer {
            border-top: 2px solid white;
            padding-bottom: 2rem;
            &-actions {
                margin: 0.5rem;
                padding: 1rem;
                border: 2px solid white;
                border-radius: 20px;
                background-color: v.$beige;
                color: white;
                text-align: center;
                font-weight: bold;
                &:hover {
                    transition: 200ms;
                    background-color: lighten(v.$beige, 10%);
                    color: darken(v.$beige, 10%);
                }
                @media (max-width: 640px) {
                    padding: 0.5rem;
                }
            }
        }
    }
}

.isOpen {
    transform: translate(0);
    transition: 400ms;
}
