@use 'reset';
@use 'vars' as v;

  @font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand-VariableFont_wght.ttf');
  }

  body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    z-index: 0;
    overflow-y: hidden;
  }
