@use "reset";
@use "vars" as v;
@use "index";

.loader {
    position: absolute;
    top: 0;
    left: 15%;
    width: fit-content;
}

.pad {
    width: 25px;
    height: 27px;
    background-color: v.$beige;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    display: block;
    position: absolute;
}
.large {
    width: 70px;
    height: 80px;
    transform: rotate(80deg);
    left: 100px;
    top: 50px;
}
.small {
    &-1 {
        transform: rotate(50deg);
        left: 145px;
        top: 28px;
    }
    &-2 {
        transform: rotate(65deg);
        left: 174px;
        top: 50px;
    }
    &-3 {
        transform: rotate(98deg);
        position: absolute;
        left: 178px;
        top: 87px;
    }
    &-4 {
        transform: rotate(140deg);
        position: absolute;
        left: 158px;
        top: 117px;
    }
}

.paw-print {
    opacity: 0;
    position: absolute;
    left: 40%;
    top: 50vh;
    transform: rotate(-40deg);
    -webkit-animation: walk 2s linear infinite;
    animation: walk 2s linear infinite;
}

@-webkit-keyframes walk {
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes walk {
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
