@use 'reset';
@use 'vars';
@use 'index';

.scheduler {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    width: 80%;
    border: 1px solid black;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 1rem 0;
        button {
            background-color: transparent;
            border: none;
        }
    }
    &-content {
        display: flex;
        height: 100vh;
        overflow-y: scroll;
        &-header {
            display: flex;
            &-item {
                width: 100%;
                padding: 1rem 0;
                text-align: center;
                border-bottom: 1px solid transparent; 
            }
        }
        &-hours {
            display: flex;
            flex-direction: column;
            width: calc(100% / 7);
        }
        &-item {
            padding: 2rem 0 1rem 0;
            text-align: center;
            border-bottom: 1px solid rgb(160, 160, 160); 
        }
        &-weekdays {
                text-align: center;
                border-bottom: 1px solid rgb(160, 160, 160);
                padding: 1rem 0 2.5rem 0;
            }
    }
}


